<% content_for(:title) do %>
  <%= @restaurant.name.capitalize %> is on La Cuillere
<% end %>

<h1><%= @restaurant.name %></h1>

<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<%= link_to "all restaurants", restaurants_path, class: "btn btn-primary" %>
<%= link_to "add a review", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> (Rating = <%= review.rating %>)</li>
  <% end %>
</ul>